<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="Description" content="Vadim Rusin – Designer & Coder." />
  #if (context.project) {<link rel="stylesheet" href="project.css" />}
  #if (context.index) {<link rel="stylesheet" href="main.css" />}
  #include('./partials/favicon.html')
  <link href="https://fonts.googleapis.com/css?family=Be+Vietnam:100,400,500&display=swap" rel="stylesheet">
  <title>Vadim Rusin</title>
</head>