.footer {
  min-height: 100vh;
  background-color: #000;
  color: #fff;

  $border: 1.5px solid #fff;

  ul {
    padding-left: 20px;
    list-style: initial;
  }

  li {
    margin-bottom: 4px;
  }

  &__text {
    position: relative;
    min-height: 80vh;
    display: block;
  }

  &__text-content {
    padding: 32px 15px 0;
    margin-bottom: 60px;

    width: 100%;

    font-size: 36px;
    line-height: 1.5;
    font-weight: 500;
    text-align: center;

    @include breakpoint(large) {
      text-align: left;
      padding-top: 32px;
      font-size: 52px;
    }
  }

  &__details {
    padding-bottom: 16px;
    margin: 24px 0;

    border-bottom: $border;

    @include breakpoint(large) {
      margin: 52px 0;

      &:hover .footer__summary {
        opacity: 0.75;
      }
    }

    &[open] .footer__summary-chevron {
      transform: rotate(180deg);
    }

    &[open] summary~* {
      animation: fadeIn 0.5s ease-in-out;
    }
  }

  &__summary {
    min-height: 48px;
    padding: 16px 0;
    outline: none;
    cursor: pointer;
    font-size: 28px;
    margin-bottom: 12px;
    font-weight: 500;
    line-height: 55px;
    transition: opacity 0.5s;

    &::after {
      display: table;
      content: " ";
    }

    @include breakpoint(large) {
      font-size: 36px;
    }
  }

  &__summary-title {
    float: left;
  }

  &__summary-chevron {
    float: right;
    transition: transform 0.5s;
  }

  &__details-content,
  ul,
  li {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 12px;
    transition: height 0.3s;
  }

  &__mail {
    display: block;
    position: relative;
    min-height: 20vh;
    background-color: #0015a7;

    font-size: 20px;
    text-align: center;

    transition: background-color 0.3s, transform 0.3s;

    @include breakpoint(large) {
      font-size: 28px;

      &:hover {
        background-color: #d940ff;
      }

      &:active {
        transform: translateY(4px);
        background-color: #af19a7;
      }
    }
  }

  &__mail-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 12px;

    color: #fff;
    line-height: 1.5;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.05em;

    @include breakpoint(large) {
      line-height: 55px;
      padding: 0;
    }
  }

  &__span-mail {
    font-weight: 800;
  }
}