.works {
  margin-top: 80px;
  margin-top: 80px;

  @include breakpoint(large) {
    margin-bottom: 120px;
    margin-bottom: 120px;
  }

  &__title {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 24px;
    color: #333333;

    @include breakpoint(large) {
      letter-spacing: 0.01em;
      font-weight: 600;
      font-size: 36px;
    }
  }

  &__subtitle {
    color: #333;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.4px;
    margin-bottom: 12px;

    @include breakpoint(large) {
      margin-bottom: 20px;
    }

    @include scheme(dark) {
      color: #d3d3d3;
    }
  }

  &__list-item {
    margin-bottom: 48px;

    @include breakpoint(large) {
      margin-bottom: 120px;
    }
  }

  &__image {
    border-radius: 5px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.02);
    transition: transform 0.5s, opacity 0.3s, box-shadow 0.3s;

    &:hover {
      box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
      transform: scale(1.02);
    }

    &:active {
      opacity: 0.8;
    }
  }
}