$breakpoints: (
  "small": 320px,
  "medium": 768px,
  "large": 960px
) !default;

@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media only screen and (min-width: map-get($breakpoints, $breakpoint )) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
    + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 960px;
  width: 100%;
}
