* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Be Vietnam", sans-serif;
}

img, video {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}