:root {
  --blue: #40afff;
}

@media (prefers-color-scheme: dark) {

  body,
  .header__h1,
  .works__title {
    transition: background-color 0.3s, color 0.3s;
    background-color: #000 !important;
    color: #fff !important;
  }

  .scroll-line span::after {
    background-color: #fff !important;
  }

  .footer__text-content {
    border-top: 1.5px solid #fff;
  }
}