:root {
  --blue: #40afff;
  --dark: #000;
}

@include scheme(dark) {

  body {
    transition: background-color 0.3s, color 0.3s;
    background-color: var(--dark);
    color: #fff;
  }

  .scroll-line span::after {
    background-color: #fff !important;
  }
}