@import "reset";
@import "mixins";
@import "grid";
@import "scroll";
@import "animations";

@include scheme(dark) {

  body,
  .nav__brand {
    transition: background-color 0.3s, color 0.3s;
    background-color: #000 !important;
    color: #fff !important;
  }
}

.container {
  max-width: 1440px;
}

.nav {
  height: 100px;
  line-height: 100px;
  padding: 1rem;

  @include breakpoint(large) {
    padding: 0 5rem;
  }

  &__brand {
    color: black;
    font-size: 2rem;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: #ff0000;
    }

    @include breakpoint(large) {
      font-size: 3rem;
    }
  }
}

.header {
  width: 96%;
  padding: 1rem;
  margin: 1rem 0;
  text-align: left;

  @include breakpoint(large) {
    padding: 4rem;
  }

  &__subtitle {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    font-size: 0.5rem;
    margin-top: 1rem;

    @include breakpoint(large) {
      margin-top: 5rem;
      font-size: 0.8rem;
    }
  }

  &__title {
    margin-top: 0;
    animation: moveInLeft;
    animation-duration: 1s;

    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;

    @include breakpoint(large) {
      font-size: 4rem;
      font-weight: 500;
    }
  }
}

.work {
  text-align: center;
  width: 100%;
  padding: 0 5%;

  &__img {
    width: 100%;
    margin-bottom: 3rem;
    border-radius: 5px;
    box-shadow: 0 30px 140px -50px rgba(44, 48, 56, 0.5);
    animation: moveInRight;
    animation-duration: 1s;
  }
}